/* Définition des polices personnalisées ///////////////////////////////////////////////////////////*/

@font-face
{
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

*
{
    margin: 0;
}

/* Eléments principaux de la page ///////////////////////////////////////////////////////////////////*/

body{
	font-family: robotoregular, Arial, sans-serif;
    width: 100%;
}

a{
	text-decoration: none;
	color: black;
}

ul{
	list-style-type: none;
	padding: 0;
}



/* Header ////////////////////////////////////////////////////////////////////////////////////////*/
header{
	display: flex;
	justify-content: center;

}


/* Corps /////////////////////////////////////////////////////////////////////////////////*/

/* Corps ////// SECTION 1 ////////////////////////////////////////////////////////////////*/
#section1{
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}

#section1 address{
	margin: auto;
}

#section1 article{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	

	
}




/* Corps ////// SECTION 2 ////////////////////////////////////////////////////////////////*/
#section2{

}



/* Corps ////// SECTION 3 ////////////////////////////////////////////////////////////////*/
#section3{
	width: 100%;

}




/* Footer /////////////////////////////////////////////////////////////////////////////// */


footer
{
    display: block;
    width: 100%;
    background-color: #353535;
    padding: 10px;
}