@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype');
    
    
}


body {
    font-family: 'robotoregular', Arial, sans-serif;
    color: black;
    font-size: 1em;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-family: 'robotoregular', Arial, sans-serif;
    font-size: 1.5em;
}

h3 {

}

h4 {

}

a{
    text-decoration: none;
    color: black;
}

address{
    font-style: normal;
}