.loader_ctn{
    background: $colour-degrade no-repeat center fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 12;
    animation: loader_transition 3000ms forwards;

    &__text{
        
        font-family: 'shrikhand', Arial, sans-serif;
        font-size: 5vh;
        color: $colour-white;
        letter-spacing: 0.1px;
        animation: loader 1000ms both infinite;
    }
}


@keyframes loader_transition {
    0% {
        opacity: 1;
    }
    95%{
        opacity: 1;
        z-index: 12;
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
}



@keyframes loader {
    0% {
    transform: scale3d(1, 1, 1);
    }
    30% {
    transform: scale3d(1.25, 0.75, 1);
    }
    40% {
    transform: scale3d(0.75, 1.25, 1);
    }
    50% {
    transform: scale3d(1.15, 0.85, 1);
    }
    65% {
    transform: scale3d(.95, 1.05, 1);
    }
    75% {
    transform: scale3d(1.05, .95, 1);
    }
    100% {
    transform: scale3d(1, 1, 1);
    }
}

