section.img-banner{
    width: 100%;
    height: 300px;
    overflow: hidden;

    img{
        width: 110%;
            @include tablet-only{
                width: 100%;
                margin-top: -25vw;
            }
            @include desktop-only{
                width: 100%;
                margin-top: -29vw;
            }
    }
}

.menu{
    width: 100%;
    background: $colour-lightgray;
    border-radius: 35px 35px 0 0;
    margin: -80px 0 0 0;
    padding: 35px 0 70px 0;
    position: relative;
        @include tablet-only{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        @include desktop-only{
            padding: 60px 0 90px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

    
    &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 30px 30px 20px;
            @include tablet-only{
                width: 70%;
            }
            @include desktop-only{               
                margin: 0 0px 50px 0;
                justify-content: center;
            }

            h1{
            font-family: 'shrikhand', Arial, sans-serif;
            font-size: 1.7em;
            font-weight: normal;
                @include desktop-only{
                    font-size: 2.5em;
                    margin-right: 30px;
                }
            }
    }
    
    &__ctn{

        margin: 0 15px 0 15px;
            @include tablet-only{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            @include desktop-only{
                width: 95%;
            }


        > ul{

            @include tablet-only{
                width: 70%;
            }
            @include desktop-only{
                display: flex;
                justify-content: space-around;
            }
        }
    }

        .menu_entrees,.menu_plats,.menu_desserts{
            width: 100%;
            padding-bottom: 25px;
                @include desktop-only{
                    width: 30%;
                }

            h4{
                font-weight: normal;
                margin: 0 0 15px 5px;
                border-bottom: 3.5px solid $colour-accent;
                padding-bottom: 5px;
                width: 40px;
            }
        }
            &__ctn{
                  
                .plat{
                    position: relative;
                    background: $colour-white;
                    border-radius: 15px;
                    box-shadow: 0px 3px 10px rgb(226, 225, 225);
                    margin-bottom: 15px;
                    cursor: pointer;
                    overflow: hidden;
                    animation: plat 1500ms backwards;
                    
                    @for $i from 1 through 10 {
                        &--#{$i} {
                            animation-delay: (1500ms / 10) * $i;
                        }
                    }
                    
                    &:hover{
    
                       .plat_icon{
                            transform: translateX(0);
    
                                i{
                                    transform: rotate(0turn);
                                }
                        }

                        .plat_text{
                            width: 79%;

                                @include tablet-only {
                                    width: 50vw;
                                }
                                @include desktop-only {
                                    width: 81%;
                                }
                        }
                    }
            
                    ul{
                        display: flex;
                        justify-content: space-between;

                        .plat_text{

                            display: flex;
                            justify-content: space-between;
                            flex-direction: column;
                            padding: 10px 0 10px 10px;
                            width: 100%;
                            transition: width 450ms ease-in-out;
                            
                                h5{
                                        font-size: 1.1em;
                                        margin-bottom: 5px;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        padding-right: 10px;
                                    }

                                &__bloc{
                                    display: flex;
                                    justify-content: space-between;
                                    width: 100%;
                                    
                                    h6{
                                        font-size: 0.9em;
                                        font-weight: normal;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        padding-right: 5px;
                                    }

                                    &--tarif{
                                        
                                        font-size: 0.9em;
                                        font-weight: bold;
                                        margin-right: 15px;
                                    }
                                }
                            }

                        .plat_icon{
                             
                            background: $colour-accent;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 16vw;
                            height: 100%;
                            transform-origin: right;
                            transform: translateX(16vw);
                            transition: transform 450ms ease-in-out;
                            position: absolute;
                            right: 0;
                                @include desktop-only {
                                    width: 65px;
                                    transform: translateX(65px);
                                }

                            i{
                                display: inline-block;
                                color: $colour-white;
                                font-size: 1.4em;
                                transform: rotate(-1turn);
                                transition: transform 450ms ease-in;
                            }
                        }
                    } 
                }
            }

    &__btn{
        text-align: center;
        margin-top: 10px;   
    }

}


@keyframes plat {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

