section.img-banner{
    width: 100%;
    height: 300px;
    overflow: hidden;

    img{
        width: 110%;
    }
}

.menu{
    width: 100%;
    background: $colour-lightgrey;
    border-radius: 35px 35px 0 0;
    margin: -80px 0 0 0;
    padding: 35px 0 70px 0;
    position: relative;

    &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 30px 30px 20px;

            h1{
            font-family: 'shrikhand', Arial, sans-serif;
            font-size: 1.7em;
            font-weight: normal;
            }

    }
    
    &__ctn{

        margin: 0 15px 0 15px;
    }

        .menu_entrees{
            width: 100%;

            h4{
                font-weight: normal;
                margin: 0 0 15px 5px;
                border-bottom: 3.5px solid $colour-accent;
                padding-bottom: 5px;
                width: 40px;
            }

            &__ctn{
                  
                .plat{
                    
                    background: $colour-white;
                    border-radius: 15px;
                    box-shadow: 0px 3px 10px rgb(226, 225, 225);
                    margin-bottom: 15px;
                    cursor: pointer;
                    overflow: hidden;
                    
                    &:hover{
    
                       .plat_icon{
    
                        transform: translateX(0);
    
                            i{
                                transform: rotate(0turn);
                                
                            }
                        }
    
                        .plat_text__tarif{
                            transform: translateX(0);
                        }
                    }
            
                    ul{

                        display: flex;
                        justify-content: space-between;

                        .plat_text{

                            display: flex;
                            justify-content: space-between;
                            align-items: flex-end;
                            padding: 10px;
                            width: 100%;
                            

                                &__titre{

                                    h5{
                                        font-size: 1.1em;
                                        margin-bottom: 5px;
                                    }

                                    h6{
                                        font-size: 0.9em;
                                        font-weight: normal;
                                    }
                                }

                                &__tarif{
                                    
                                    font-size: 0.9em;
                                    font-weight: bold;
                                    //padding-right: 10px;
                                    transform-origin: right;
                                    transform: translateX(60px);
                                    transition: transform 400ms ease-in-out;  
                                }
                            }

                        .plat_icon{
                            background: $colour-accent;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 80px;
                            overflow: hidden;
                            transform-origin: right;
                            transform: translateX(80px);
                            transition: transform 400ms ease-in-out;
                            margin-left: 5px;

                            i{
                                display: inline-block;
                                color: $colour-white;
                                font-size: 1.4em;
                                transform: rotate(-1turn);
                                transition: transform 400ms ease-in;
                            }
                        }
                    } 
                }
            }
        }

    &__btn{
        text-align: center;
        margin-top: 40px;   
    }

}


